<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allcheer.bpos.mapper.SeqMapper" >

  <select id="getTblBTSSysUsrIdSeq" resultType="java.lang.Integer">
    select TBL_BTS_SYS_USR_ID_SEQ.nextval from dual
  </select>

  <select id="getTblBTSSysRoleIdSeq" resultType="java.lang.Integer">
    select TBL_BTS_SYS_Role_ID_SEQ.nextval from dual
  </select>

  <select id="getTblBTSSysFuncIdSeq" resultType="java.lang.Integer">
    select TBL_BTS_SYS_FUNCTION_ID_SEQ.nextval from dual
  </select>

  <select id="getTblBTSInstIdSeq" resultType="java.lang.Integer">
    select TBL_BTS_INST_ID_SEQ.nextval from dual
  </select>

  <select id="getMerTradeCountRuleSeq" resultType="java.lang.Integer">
    select TBL_MER_ROUTE_COUNT_ID_SEQ.nextval from dual
  </select>

  <select id="getSequenceNextVal" parameterType="map" resultType="long">
    select ${seqName}.nextval as ID from dual
  </select>
  
  <select id="getLoginUsrSeq" parameterType="map" resultType="long">
    select ${seqName}.nextval as ID from dual
  </select>

</mapper>