<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allcheer.bpos.mapper.TblMemberFeeProfitMapper" >
  <resultMap id="BaseResultMap" type="com.allcheer.bpos.entity.TblMemberFeeProfit" >
    <result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
    <result column="TRANS_DATE" property="transDate" jdbcType="CHAR" />
    <result column="TRANS_TYPE" property="transType" jdbcType="VARCHAR" />
    <result column="TRANS_SUM" property="transSum" jdbcType="VARCHAR" />
    <result column="MER_TRANS_FEE" property="merTransFee" jdbcType="VARCHAR" />
    <result column="MEMBER_TRANS_FEE" property="memberTransFee" jdbcType="VARCHAR" />
    <result column="PROFIT_AMT" property="profitAmt" jdbcType="VARCHAR" />
    <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    P.MEMBER_ID, P.TRANS_DATE, P.TRANS_TYPE, P.TRANS_SUM, P.MER_TRANS_FEE, P.MEMBER_TRANS_FEE, P.PROFIT_AMT,I.AGENT_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.allcheer.bpos.entity.TblMemberFeeProfitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_MEMBER_FEE_PROFIT P left join TBL_AGENT_INFO I
    on P.MEMBER_ID = I.MEMBER_ID
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.allcheer.bpos.entity.TblMemberFeeProfitExample" >
    delete from TBL_MEMBER_FEE_PROFIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.allcheer.bpos.entity.TblMemberFeeProfit" >
    insert into TBL_MEMBER_FEE_PROFIT (MEMBER_ID, TRANS_DATE, TRANS_TYPE, 
      TRANS_SUM, MER_TRANS_FEE, MEMBER_TRANS_FEE, 
      PROFIT_AMT)
    values (#{memberId,jdbcType=VARCHAR}, #{transDate,jdbcType=CHAR}, #{transType,jdbcType=VARCHAR}, 
      #{transSum,jdbcType=VARCHAR}, #{merTransFee,jdbcType=VARCHAR}, #{memberTransFee,jdbcType=VARCHAR}, 
      #{profitAmt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allcheer.bpos.entity.TblMemberFeeProfit" >
    insert into TBL_MEMBER_FEE_PROFIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="transDate != null" >
        TRANS_DATE,
      </if>
      <if test="transType != null" >
        TRANS_TYPE,
      </if>
      <if test="transSum != null" >
        TRANS_SUM,
      </if>
      <if test="merTransFee != null" >
        MER_TRANS_FEE,
      </if>
      <if test="memberTransFee != null" >
        MEMBER_TRANS_FEE,
      </if>
      <if test="profitAmt != null" >
        PROFIT_AMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        #{transDate,jdbcType=CHAR},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="transSum != null" >
        #{transSum,jdbcType=VARCHAR},
      </if>
      <if test="merTransFee != null" >
        #{merTransFee,jdbcType=VARCHAR},
      </if>
      <if test="memberTransFee != null" >
        #{memberTransFee,jdbcType=VARCHAR},
      </if>
      <if test="profitAmt != null" >
        #{profitAmt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.allcheer.bpos.entity.TblMemberFeeProfitExample" resultType="java.lang.Integer" >
    select count(*) from TBL_MEMBER_FEE_PROFIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBL_MEMBER_FEE_PROFIT
    <set >
      <if test="record.memberId != null" >
        MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
      </if>
      <if test="record.transDate != null" >
        TRANS_DATE = #{record.transDate,jdbcType=CHAR},
      </if>
      <if test="record.transType != null" >
        TRANS_TYPE = #{record.transType,jdbcType=VARCHAR},
      </if>
      <if test="record.transSum != null" >
        TRANS_SUM = #{record.transSum,jdbcType=VARCHAR},
      </if>
      <if test="record.merTransFee != null" >
        MER_TRANS_FEE = #{record.merTransFee,jdbcType=VARCHAR},
      </if>
      <if test="record.memberTransFee != null" >
        MEMBER_TRANS_FEE = #{record.memberTransFee,jdbcType=VARCHAR},
      </if>
      <if test="record.profitAmt != null" >
        PROFIT_AMT = #{record.profitAmt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBL_MEMBER_FEE_PROFIT
    set MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
      TRANS_DATE = #{record.transDate,jdbcType=CHAR},
      TRANS_TYPE = #{record.transType,jdbcType=VARCHAR},
      TRANS_SUM = #{record.transSum,jdbcType=VARCHAR},
      MER_TRANS_FEE = #{record.merTransFee,jdbcType=VARCHAR},
      MEMBER_TRANS_FEE = #{record.memberTransFee,jdbcType=VARCHAR},
      PROFIT_AMT = #{record.profitAmt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <select id="countByCust" resultType="java.lang.Integer">
		select
		count(*)
		from TBL_MEMBER_FEE_PROFIT
		WHERE 1=1
		<if test="memberId != null">
			AND MEMBER_ID =#{memberId,jdbcType=VARCHAR}
		</if>
        <if test="startDate != null">
          AND TRANS_DATE &gt;= #{startDate,jdbcType=VARCHAR}
        </if>
        <if test="endDate != null">
          AND  TRANS_DATE  	&lt;= #{endDate,jdbcType=VARCHAR}
        </if>
        <if test="transType != null">
          AND TRANS_TYPE = #{transType,jdbcType=VARCHAR}
        </if>
	</select>
  
  <select id="selectByCust" resultMap="BaseResultMap">
		select P.*,I.AGENT_NAME
		 from TBL_MEMBER_FEE_PROFIT  P left join TBL_AGENT_INFO I
        on P.MEMBER_ID = I.MEMBER_ID
		WHERE 1=1
		<if test="memberId != null">
			AND P.MEMBER_ID =#{memberId,jdbcType=VARCHAR}
		</if>
        <if test="transType != null">
          AND P.TRANS_TYPE = #{transType,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null">
          AND P.TRANS_DATE &gt;= #{startDate,jdbcType=VARCHAR}
        </if>
        <if test="endDate != null">
          AND  P.TRANS_DATE  	&lt;= #{endDate,jdbcType=VARCHAR}
        </if>
	</select>
</mapper>