<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allcheer.bpos.mapper.TblParamInfoMapper" >
  <resultMap id="BaseResultMap" type="com.allcheer.bpos.entity.TblParamInfo" >
    <result column="PARAM_NUM" property="paramNum" jdbcType="VARCHAR" />
    <result column="PARAM_NAME" property="paramName" jdbcType="VARCHAR" />
    <result column="PARAM_VALUE" property="paramValue" jdbcType="VARCHAR" />
    <result column="PARAM_STAT" property="paramStat" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PARAM_NUM, PARAM_NAME, PARAM_VALUE, PARAM_STAT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.allcheer.bpos.entity.TblParamInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_PARAM_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.allcheer.bpos.entity.TblParamInfoExample" >
    delete from TBL_PARAM_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.allcheer.bpos.entity.TblParamInfo" >
    insert into TBL_PARAM_INFO (PARAM_NUM, PARAM_NAME, PARAM_VALUE, 
      PARAM_STAT)
    values (#{paramNum,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, 
      #{paramStat,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allcheer.bpos.entity.TblParamInfo" >
    insert into TBL_PARAM_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paramNum != null" >
        PARAM_NUM,
      </if>
      <if test="paramName != null" >
        PARAM_NAME,
      </if>
      <if test="paramValue != null" >
        PARAM_VALUE,
      </if>
      <if test="paramStat != null" >
        PARAM_STAT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paramNum != null" >
        #{paramNum,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramStat != null" >
        #{paramStat,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.allcheer.bpos.entity.TblParamInfoExample" resultType="java.lang.Integer" >
    select count(*) from TBL_PARAM_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBL_PARAM_INFO
    <set >
      <if test="record.paramNum != null" >
        PARAM_NUM = #{record.paramNum,jdbcType=VARCHAR},
      </if>
      <if test="record.paramName != null" >
        PARAM_NAME = #{record.paramName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramValue != null" >
        PARAM_VALUE = #{record.paramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.paramStat != null" >
        PARAM_STAT = #{record.paramStat,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBL_PARAM_INFO
    set PARAM_NUM = #{record.paramNum,jdbcType=VARCHAR},
      PARAM_NAME = #{record.paramName,jdbcType=VARCHAR},
      PARAM_VALUE = #{record.paramValue,jdbcType=VARCHAR},
      PARAM_STAT = #{record.paramStat,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <select id="countByCust" resultType="java.lang.Integer">

		select
		count(*)
		from TBL_PARAM_INFO
		WHERE 1=1
		<if test="paramNum != null">
			AND PARAM_NUM=#{paramNum,jdbcType=VARCHAR}
		</if>
		<if test="paramName != null">
			AND PARAM_NAME=#{paramName,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selectByCust" resultMap="BaseResultMap">
		select *
		from TBL_PARAM_INFO
		WHERE 1=1
		<if test="paramNum != null">
			AND PARAM_NUM=#{paramNum,jdbcType=VARCHAR}
		</if>
		<if test="paramName != null">
			AND PARAM_NAME=#{paramName,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>